{% extends 'base.html' %}
{% block content %}


<main class="container py-5 my-5u">
    <div class="row py-5 my-5 justify-content-center">
        <div class="col-4 border border-grey p-5 my-5">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <p class="text-center h2 font-weight-light pb-5 mb-2">Login</p>
            <form class="text-right form-contact" action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <fieldset class="form-group">
                    <input type="{{ field.name }}" class="form-control" name="{{ field.name }}"
                           placeholder="{{ field.name|title }}">
                </fieldset>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <hr>
            <div class="text-center">
                Need an account? <a href="{% url 'signupuser' %}">Sign Up here</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}